@media (max-width: 950px){
    #menu-icon{
        display: block;
    }

    .home{
        min-height: 80vh;
    }

    .navlist{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: center;
        transition: all .40s;
    }

    .navlist a{
        display: block;
        padding: 1rem;
        margin: 1.2rem;
        border-bottom: 2px solid var(--main-color);
        color:var(--text-color);
    }

    .navlist a:hover{
        background: var(--main-color);
        color: var(--text-color);
    }

    .navlist.active{
        top: 100%;
    }
}

@media (max-width: 800px){
    .home{
        grid-template-columns: 1fr;
        min-height: 130vh;
        grid-gap: 1rem;
    }

    .home-text{
        padding: 55px;
    }

    .home-img{
        text-align: center;
    }
    
    .home-img img{
        width: 400px;
        height: auto;
    }

    .about{
        grid-template-columns: 1fr;
    }

    .about-img{
        text-align: center;
        margin-bottom: 30px;
    }

    :root{
        --big-font: 3.4rem;
        --h2-font: 2rem;
    }

    section{
        padding: 65px 3%;
        transition: .3s;
    }
}