@media (max-width: 950px){
    #menu-icon{
        display: block;
    }

    .home{
        min-height: 80vh;
    }

    #page-navigation{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: center;
        transition: all .40s;
    }

    #page-navigation a{
        display: block;
        padding: 1rem;
        margin: 1.2rem;
        border-bottom: 2px solid var(--main-color);
        color:var(--text-color);
    }

    #page-navigation a:hover{
        background: var(--main-color);
        color: var(--text-color);
    }

    #social-navigation{
        display: flex;
    }
    
    #social-navigation li{
        position: relative;
    }
    
    #social-navigation a{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        color: var(--bg-color);
        margin-right: 22px;
        margin-bottom: 30px;
    }

    #page-navigation.active{
        top: 100%;
    }
}

@media (max-width: 800px){
    .home{
        grid-template-columns: 1fr;
        min-height: 130vh;
        grid-gap: 1rem;
    }

    .home-text{
        padding: 55px;
    }

    .home-img{
        text-align: center;
    }
    
    .home-img img{
        width: 400px;
        height: auto;
    }

    #social-navigation a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
    }

    :root{
        --big-font: 3.4rem;
        --h2-font: 2rem;
    }

    section{
        padding: 65px 3%;
        transition: .3s;
    }

    
    /* contact page*/
    main section, main section div {
        background-color: #e5e5e5;
        margin: 10px;
        text-align: center;
        /* border: 2px solid #14213d; */
        height: 280px;
    }

    main section {
        /* height: 400px; */
        object-fit: cover;
        overflow: hidden;
    }
    #contact {
        grid-column: 3;
        grid-row: 1;
        /* line-height: .5em; */
    }


}