*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #5DA592;
    --text-color: #ebe6df;
    --second-color: #A45A50;
    --main-color: #90B795;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
/* HEADER*/
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3S;
}

header.sticky{
    background-color:var(--second-color);
    padding: 13px 18%;
    box-shadow: 10px 0px 10px rgb(0, 0, 0 / 105);
}

header #navigation {
    font-family: var(--hammersmith-one-font);
    font-size: 1.125rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
}

#menu-icon{
    font-size: 25px;
    z-index: 10001;
    cursor: pointer; 
    display: none;
    background: transparent;
}

#logo img{
    max-width: 100%;
    width: 120px;
    height: auto;
}

#page-navigation{
    display: flex;
}

#page-navigation li{
    position: relative;
}

#page-navigation a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
}

#page-navigation a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--second-color);
    bottom: -3px;
    left: 0;
    transition: .40s;
}

#page-navigation a:hover::after{
    width: 100%;
}

#social-navigation{
    display: block;
}

#social-navigation a:hover{
    transform: scale(1.1);
    background: var(--second-color);
    transition: .5s;
}
/* header-end*/

/*  home*/

section{
    padding: 100px 18%;
}

#home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url(../images/pexels-ryutaro-tsukata-6249424.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}

#items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 5rem;
    align-items: center;
    text-align: center;
}

#schedule #items #schedule-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#schedule #items #schedule-content{
    text-align: center;
    word-spacing: normal;
    border: 2px solid var(--second-color);
    border-radius: 10px;
}

#schedule #items #portfolio #layer{
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(350px, auto));
    grid-gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--second-color);
    border-radius: 30px;
}

#mapping{
    color: #A45A50;
    background-color: white;
    text-align: center;
}

iframe{
    width: auto;
}

#col{
    position: relative;
 }
  /* contact page*/

  .join {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.membershipLevels {
    margin: 10px;
}
.board {
    align-content: center;
}

.form h1 {
    display: block;
    text-align: center;
}


.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    color: black;
}

.form form input, .form textarea {
    font-size: 1em;
    width: 450px;
    height: 30px;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px;
    /* font-size: 1.5em; */
    font-weight: 500;
    background-color: #e5e5e5;
}

.form textarea {
    height: 250px;
}

.form form label {
    /* font-size: 1.5em; */
    font-weight: 700;
    text-align: left;
    margin: 5px;
}

label, textarea, select{
    display: inline-block;
    /* float: left; */
    clear: left;
    width: 450px;
    text-align: left;
}

.form #submit {
    background-color: brown;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    position: relative;
    /* bottom: 300px; */
    z-index: 5;
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 700;
    margin: 15px;
}

.container12 {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

/* footer*/
 footer{
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
