*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #5DA592;
    --text-color: #0d0801;
    --second-color: #A45A50;
    --main-color: #90B795;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

/* HEADER*/
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1{
    font-size: 60px;
    background: linear-gradient(
        270deg,  #5DA592, #A45A50
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3{
    font-size: 40px;
    background: linear-gradient(
        270deg,#70423c, #048160
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3S;
}

header.sticky{
    background-color:var(--second-color);
    padding: 13px 18%;
    box-shadow: 10px 0px 10px rgb(0, 0, 0 / 105);
}

header #navigation {
    font-family: var(--hammersmith-one-font);
    font-size: 1.125rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
}

#menu-icon{
    font-size: 25px;
    z-index: 10001;
    cursor: pointer; 
    display: none;
    background: transparent;
}

#logo {
    max-width: 100%;
    width: 80px;
    height: auto;
}

#page-navigation{
    display: flex;
}

#page-navigation li{
    position: relative;
}

#page-navigation a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
    text-decoration: none;
}
#page-navigation li a {
    text-decoration: none;
}

#page-navigation a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--second-color);
    bottom: -3px;
    left: 0;
    transition: .40s;
}

#page-navigation a:hover::after{
    width: 100%;
}

#social-navigation{
    display: flex;
}

#social-navigation a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
    }

#social-navigation a:hover{
    transform: scale(1.1);
    background: var(--second-color);
    transition: .5s;
}
/* header-end*/

/*  home*/

section{
    padding: 100px 18%;
}

#home{
    min-height: 60vh;
    height: 100%;
    width: 100%;
    background: url(../images/pexels-ryutaro-tsukata-6249424.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}

#items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 5rem;
    align-items: center;
    text-align: center;
}

#schedule #items #schedule-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#schedule #items #schedule-content{
    text-align: center;
    word-spacing: normal;
    border: 2px solid var(--second-color);
    border-radius: 10px;
}

#schedule #items #portfolio #layer{
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(350px, auto));
    grid-gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--second-color);
    border-radius: 30px;
    
}

.animalLayer {
    background-color: #A45A50 ;
}
#mapping{
    color: #A45A50;
    background-color: white;
    text-align: center;
}

iframe{
    width: auto;
}

#col{
    position: relative;
    
 }
  /* contact page*/

  .join {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.membershipLevels {
    margin: 10px;
}
.board {
    align-content: center;
}

.form h1 {
    display: block;
    text-align: center;
    margin-top: 150px;
}

.form form {
    max-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    color: black;
}

.form form input, .form textarea {
    font-size: 1em;
    width: 470px;
    height: 30px;
    padding: 10px 12px;
    margin: 0 10px 20px 0;
    border: 2px solid black;
    border-radius: 10px;
    /* font-size: 1.5em; */
    font-weight: 500;
    background-color: #e5e5e5;
}

.form textarea {
    height: 250px;
}

.form form label {
    /* font-size: 1.5em; */
    font-weight: 700;
    text-align: left;
    margin: 5px;
}

label, textarea, select{
    display: inline-block;
    /* float: left; */
    clear: left;
    width: 450px;
    text-align: left;
}

.form #submit {
    background-color: brown;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    position: relative;
    /* bottom: 300px; */
    z-index: 5;
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 700;
    margin: 15px;
}

.container12 {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/*tickets page*/
.service .heading{
    margin-top: 50px;
    text-align: center;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem; 
 }

 .row{
    background: var(--second-color);
    box-shadow: 18px 0px 87px 0px rgb(10, 15, 70 / 7%);
    border-radius: 12px 0px 10px;
    padding: 30px 30px 30px;
    transition: ease .45s;
    cursor: pointer;
 }

 .s img{
    height: 65px;
    width: 65px;
    background: var(--bg-color);
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
 }

 .s.s-one img{
    background: var(--bg-color);
 }
 .s.s-two img{
    background: var(--bg-color);
 }
 .s.s-three img{
    background: var(--bg-color);
 }
 .s.s-four img{
    background: var(--bg-color);
 }

 .row h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
 }

 .row h5{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 19px;
 }

 .row p{
    font-size: var(--p-font);
    color: var(--text-color);
    line-height: 28px;
 }
 /* workers page */
 
.card{
    position:relative;
    width: 800px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* transition: 0.5s; */
}
.card .circles{
    position: absolute;
    /* z-index: -100; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--second-color);
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.card img{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}
.card:hover img{
    left: 70%;
    height: 350px;
}
.card .content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.card .content h2{
    color: var(--second-color);
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}
.card .content h3{
    color: var(--second-color);
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 700;
}
.card .content p{
    color: #0c0b0b;
}
.card .content a{
    position: relative;
    color: var(--second-color);
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--second-color);
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
}
/* about us page*/
.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title p {
    border: 1px solid black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutus-banner img {
    width: 100%;
    height: 700px;
    margin-bottom: 0 ;
}

.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}
/*
a:hover, a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}*/
/*.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}*/
/*.icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}*/
/* footer*/
 footer{
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
